table.dataTable, table.dataTable th, table.dataTable td {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

table.dataTable {
	margin: 0 !important;
}

.dataTable tbody tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}

.dataTable tbody tr td:hover {
	overflow: visible;
	background-color: #bbb;
	z-index: 1;
	border: 1px solid;
	white-space: normal;
	word-break: break-word;
	position: absolute;
	max-width: 40%;
}